@font-face {
    font-family: 'OG_Renaissance_Secret-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/OG_Renaissance_Secret-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CROOKED';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/CROOKED.woff2') format('woff2');
    font-weight: ;
    font-style: normal;
}


body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;
    color: #fff;
    font-family: 'OG_Renaissance_Secret-Rg', sans-serif; /* 기본 폰트: 한글용 */
}

:lang(en) {
    font-family: 'CROOKED', 'OG_Renaissance_Secret-Rg', sans-serif;
}

/* 다른 문자는 기본 폰트를 유지 */
*:not(:lang(en)) {
    font-family: 'OG_Renaissance_Secret-Rg', sans-serif;
}

/* 영어 문자를 범위로 지정해 적용 */
body :where(*):not(:lang(en)) {
    font-family: inherit; /* 비영어 텍스트는 기본 폰트 사용 */
}


#intro-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    z-index: 2;
    transition: opacity 0.5s ease-in-out;
}

#intro-container h1 {
    font-size: 6em;
    margin-bottom: 20px;
    text-align: right;
    color: white;
    pointer-events: none; /* 클릭할 수 없게 함 */
    align-self: flex-end;
}

#intro-container h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    text-align: center;
    color: white;
    display: none;
}

#startButton {
    padding: 1vh 4vw;
    font-size: 20px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2;
}


#camera-container, #captureScreen, #threejs-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #fff;
}

button {
    position: absolute;
    bottom: 20px;
    padding: 1vh 4vw;
    font-size: 20px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2;
}


#threejs-container {
    width: 100vw;
    height: 100vh;
    display: none; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
}

#message1 {
    position: absolute;
    top: 10px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: red;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: block;
}


#message2 {
    position: absolute;
    top: 10px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: red;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: none;
}

